<h3>Routes</h3>
<hr />

<%- Route.order(:vehicle_type, :name).each do |route| %>

  <div class="route-container">
    <div class="route-title">
      <span class="name"><%= "#{Vehicle::VEHICLE_TYPES_NAMES[route.vehicle_type]} - #{route.name} (##{route.eid} : #{route.ename})" %></span>
      <a href="<%= edit_manage_route_path(route) %>" class="edit btn btn-info btn-small">edit</a>
    </div>

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Statie</th>
          <th>Dir</th>
          <th>Ord</th>
          <th>Nume scurt</th>
          <th>Nume Lung</th>
        </tr>
      </thead>

      <tbody>

      <%- route.route_stops.each do |rs|
        stop = rs.stop
      %>
        <tr>
          <td>#<%= stop.eid %> : <%= stop.ename %></td>
          <td><%= rs.direction %></td>
          <td><%= rs.order_idx %></td>
          <td><%= stop.name %></td>
          <td><%= stop.long_name %></td>
        </tr>
      <%- end %>

      </tbody>
    </table>
  </div>


  <p>&nbsp;</p>
<%- end %>
